

body{

 
                background: linear-gradient(132deg, #ec5218, #1665c1);
                background-size: 400% 600%;
                animation: BackgroundGradient 10s ease infinite;
            }
            
            @keyframes BackgroundGradient {
                0% {background-position: 0% 50%;}
                50% {background-position: 100% 50%;}
                100% {background-position: 0% 50%;}


}
h2{
	
}
h1{
	
	

}

ul{
	

}

p{
	font-style: italic;
	font-weight: bold;
}
